<!DOCTYPE HTML>

  <div class="card-container">
    <div class="card-container-inner">
      <div class="card front" id="top card">
        <div class = "label headline">Watery!</div>
      </div>
      <div class = "card back hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "card-container">
    <div class="card-container-inner">
      <div class = "card front">
        <div class = "label headline">72%</div>
        <div class="label context">Roof #1</div>
      </div>
      <div class = "card back hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>
  </div>
<div class = "card-container">
  <div class="card-container-inner">
  <div class = "card front">
    <div class = "label headline">68%</div>
    <div class="label context">Roof #2</div>
  </div>
  <div class = "card back hidden">
    <ul class = "card-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  </div>
</div>
<div class = "card-container left-half">
  <div class="card-container-inner">
    <div class = "card front">
      <div class = "label headline">68%</div>
      <div class="label context">Roof #2</div>
    </div>
    <div class = "card back hidden">
      <ul class = "card-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
</div>
<div class = "card-container right-half">
  <div class="card-container-inner">
  <div class = "card front">
    <div class = "label headline">68%</div>
    <div class="label context">Roof #2</div>
  </div>
  <div class = "card back hidden">
    <ul class = "card-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</div>
</div>
<div class = "card-container left-third">
  <div class="card-container-inner">
    <div class = "card front">
      <div class = "label headline">68%</div>
      <div class="label context">Roof #2</div>
    </div>
    <div class = "card back hidden">
      <ul class = "card-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>
</div>
<div class = "card-container middle-third">
  <div class="card-container-inner">
  <div class = "card front">
    <div class = "label headline">68%</div>
    <div class="label context">Roof #2</div>
  </div>
  <div class = "card back hidden">
    <ul class = "card-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</div>
</div>
<div class = "card-container right-third">
  <div class="card-container-inner">
  <div class = "card front">
    <div class = "label headline">68%</div>
    <div class="label context">Roof #2</div>
  </div>
  <div class = "card back hidden">
    <ul class = "card-list">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</div>
</div>
